body {
  background-color: whitesmoke;
}

.searchBar {

  width: 100vw;
  border: 3px solid whitesmoke;
  display: flex;
  align-items: left;
  justify-content: center;

}


.header {
  display: flex;
  justify-content: center;
}
.centerBar {
  display: flex;
  justify-content: center;
}

.Textheader {
  font-family: 'Dancing Script', cursive;
  font-size: 50px;
  background-color: whitesmoke;
  animation-name: example;
  animation-duration: 4s;
  color: gold;
}

@keyframes example {
  from {background-color: whitesmoke}
  to {background-color: red;}
}

.mmy {
  display: flex;
  align-items: left;
  justify-content: space-evenly;

}

.mmy input {
  margin: 0px 10px;
}

.Boarder {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 06px solid silver;
}

.Image {
  margin-right: 20px;
  width: 300px;
  float: right;
  

}



